<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <style>
        .film-link {
          text-decoration: none;
        }
        .film-link:hover {
          color: #0E845F;
        }

        .not-enough-film {
          color: red;
        }
    </style>
    <style>
        th.sorted[data-order="-1"]::after {
            content: "  ▼"
        }

        th.sorted[data-order="1"]::after {
            content: "  ▲"
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1> </h1>
        <h1>Мои книги</h1>

        <table class="table_sort table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Фильм</th>
                <th scope="col" class="text-center">Дата аренды фильма</th>
                <th scope="col" class="text-center">Дата прекращения аренды</th>

                <th scope="col">Возвращен</th>
                <th scope="col">Период аренды</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rent: ${rentFilms}">
                <td>
                    <span th:if="${!rent.getFilmDTO().isDeleted()}">
                        <a class="text-link text-blue" th:href="'/films/' + ${rent.getFilmDTO().getId()}" th:text="${rent.getFilmDTO().getTitle()}"></a>
                    </span>
                    <span th:unless="${!rent.getFilmDTO().isDeleted()}" th:text="${rent.getFilmDTO().getTitle()}"></span>
                </td>
                <td th:text="${#temporals.format(rent.getRentDate(), 'dd-MM-yyyy')}" class="text-center"></td>
                <td th:text="${#temporals.format(rent.getRentDate().plusDays(rent.getRentPeriod()), 'dd-MM-yyyy')}" class="text-center"></td>
                <td th:text="${!rent.getPurchase()} ? 'Да' : 'Нет'"></td>
                <td th:text="${rent.getRentPeriod()} + ' дней'"></td>
                <td>
                    <a      sec:authorize="isAuthenticated() && (hasRole('USER'))"
                            th:if="!${!rent.getPurchase()}"
                            th:href="'/rent/return-film/' + ${rent.getId()}"
                            class="btn btn-primary"
                            role="button"
                            aria-disabled="true">Вернуть фильм</a>
                </td>
            </tr>
            </tbody>
        </table>

        <script>
        document.addEventListener('DOMContentLoaded', () => {

            const getSort = ({ target }) => {
                const order = (target.dataset.order = -(target.dataset.order || -1));
                const index = [...target.parentNode.cells].indexOf(target);
                const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
                const comparator = (index, order) => (a, b) => order * collator.compare(
                    a.children[index].innerHTML,
                    b.children[index].innerHTML
                );

                for(const tBody of target.closest('table').tBodies)
                    tBody.append(...[...tBody.rows].sort(comparator(index, order)));

                for(const cell of target.parentNode.cells)
                    cell.classList.toggle('sorted', cell === target);
            };

            document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));

        });
    </script>

        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>

    <nav aria-label="Pagination" th:if="${rentFilms.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${rentFilms.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="'/rent/user-films/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                                   ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${rentFilms.number lt 2 ? 1 : rentFilms.number}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, rentFilms.totalPages, 1)}"
                th:classappend="${i eq rentFilms.number + 1} ? 'active'">
                <a class="page-link" th:href="'/rent/user-films/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                               ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${i}" th:text="${i}"
                 th:title="${'Page '+ i}" data-toggle="tooltip" style="background-color: #0A6247"></a>
            </li>
            <li class="page-item" th:classappend="${rentFilms.number eq rentFilms.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                     th:href="'/rent/user-films/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                                       ? ${userId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${rentFilms.number + 2}"
                     aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
