<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Участники Фильмотеки №1</title>
    <script th:inline="javascript">
        let flag = [[${exception}]]; //переменная-флаг Thymeleaf
        window.onload = () => {
          if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
    <style>
                    th {
                cursor: pointer;
            }
    </style>
    <style>
        th.sorted[data-order="-1"]::after {
            content: "  ▼"
        }

        th.sorted[data-order="1"]::after {
            content: "  ▲"
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск участника</h3>
        <form method="POST" th:action="@{/directors/search}" th:object="${directorSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorFio" type="text" class="form-control" id="directorFio" placeholder="ФИО участника">
                        <label for="directorFio">ФИО участника</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти участника</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
              <div class="col">
                    <h2>Все участники Фильмотеки №1</h2>
              </div>
              <div class="col">
                    <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('DIRECTOR'))"
                       th:href="@{/directors/add}"
                       class="btn btn-success"
                       role="button"
                       style="float: right"
                       aria-disabled="true">Добавить участника</a>
              </div>
        </div>
        <div>
            <table class="table_sort table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Профессия</th>
                    <th scope="col" class="col-md-5">Описание</th>
                    <th scope="col" class="col-md-1">Фильмы</th>
                    <th scope="col" class="col-md-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="director : ${directors}">
                    <td>
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorFio()}"></a>
                    </td>
                    <td th:text="${director.getTitle()}"></td>
                    <td th:text="${director.getDescription()}"></td>
<!--                    <td th:each="id : ${director.getFilmsIds()}" th:text="${id}">-->
<!--                    <td>-->
<!--                        <ul>-->
<!--                            <a th:each="id : ${director.getFilmsIds()}" th:href="'/films/' + ${id}" th:text="${id}"></a>-->
<!--                        </ul>-->
<!--                    </td>-->
                    <td>
                        <ul>
                            <a th:each="film : ${director.getFilms()}" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
                        </ul>
                    </td>

                    <td class="text-center">
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('DIRECTOR'))" style="text-align:right">

                            <a class="btn btn-sm btn-outline-success" th:href="'/directors/update/' + ${director.getId()}">Обновить</a>

                            <a th:if="${!director.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/directors/delete/' + ${director.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить участника?');">Удалить</a>

                            <a th:if="${director.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/directors/restore/' + ${director.getId()}">Восстановить</a>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <script>
                document.addEventListener('DOMContentLoaded', () => {

                    const getSort = ({ target }) => {
                        const order = (target.dataset.order = -(target.dataset.order || -1));
                        const index = [...target.parentNode.cells].indexOf(target);
                        const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
                        const comparator = (index, order) => (a, b) => order * collator.compare(
                            a.children[index].innerHTML,
                            b.children[index].innerHTML
                        );

                        for(const tBody of target.closest('table').tBodies)
                            tBody.append(...[...tBody.rows].sort(comparator(index, order)));

                        for(const cell of target.parentNode.cells)
                            cell.classList.toggle('sorted', cell === target);
                    };

                    document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));

                });
            </script>

        </div>

        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->

        <div>
            <nav aria-label="Pagination" th:if="${directors.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${directors.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/directors?page={id}(id=${directors.number lt 2 ? 1 : directors.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq directors.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, directors.totalPages, 1)}">
                        <a class="page-link" th:href="@{/directors?page={id}(id=${i})}" th:text="${i}"
                         th:title="${'Page '+ i}" data-toggle="tooltip" style="background-color: #0A6247"></a>
                    </li>
                    <li class="page-item" th:classappend="${directors.number eq directors.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/directors?page={id}(id=${directors.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>