<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм</title>
</head>


<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/add}" th:object="${filmForm}">

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма" required>
                    <label for="title">Название фильма</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required>
                      <option selected>Выберите жанр из списка:</option>
                        <option th:each="genre : ${T(ru.sber.spring.FilmLibrary.library_project.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}">
                        </option>
                    </select>
                    <label for="genre" class="form-label">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="premierYear" type="number" class="form-control" id="premierYear" placeholder="Год премьеры" required>
                    <label for="premierYear">Год премьеры</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" type="text" class="form-control" id="country" placeholder="Страна" required>
                    <label for="country">Страна</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="filmCompany" type="text" class="form-control" id="filmCompany" placeholder="Кинокомпания" required>
                    <label for="filmCompany">Кинокомпания</label>
                </div>
            </div>
        </div>

        <!-- тут будет загрузка файла-->
        <div class="mt-3 form-floating">
            <input name="file" type="file" class="form-control form-control-sm" id="onlineCopyPath" placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="onlineCopyPath">Онлайн копия</label>
        </div>

        <div class="mt-3 row g-2">
            <div class="col-md">
            <div class="form-floating">
                <textarea name="description" type="text" class="form-control" id="description" placeholder="Описание"></textarea>
                <label for="description">Описание</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
            </div>
        </div>


        <div class="mt-3 row g-2">
          <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
          <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>