<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы Фильмотеки №1</title>
    <style>
        .film-link {
            text-decoration: none;
        }
        .film-link:hover {
            color: #0E845F;
        }

        .not-enough-film {
            color: red;
        }
        th {
            cursor: pointer;
        }
    </style>
    <style>
        th.sorted[data-order="-1"]::after {
            content: "  ▼"
        }

        th.sorted[data-order="1"]::after {
            content: "  ▲"
        }
    </style>
    <script th:inline="javascript">
        let flag = [[${exception}]]; // переменная-флаг в thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>

<body>
<div layout:fragment="content">

    <div>
        <hr class="hr"/>
        <h3>Поиск фильма</h3>
        <form method="POST" th:action="@{/films/search}" th:object="${filmSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма">
                        <label for="title">Название книги</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorFio" type="text" class="form-control" id="directorFio" placeholder="ФИО участника">
                        <label for="directorFio">Участник</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Выберете жанр из списка</option>
                            <option th:each="genre : ${T(ru.sber.spring.FilmLibrary.library_project.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                        </select>
                        <label for="genre">Жанр</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти фильм</button>
                </div>
            </div>
        </form>
    </div>

    <h1> </h1>
    <h1>Все фильмы Фильмотеки №1</h1>
    <div class="col">
        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('DIRECTOR'))"
           th:href="@{/films/add}"
           class="btn btn-success"
           role="button"
           style="float: right"
           aria-disabled="true">Добавить фильм</a>
    </div>
    <table class="table_sort table table-hover mt-3">
        <thead>

        <tr>
            <th scope="col" data-type="text">Название</th>
            <th scope="col" data-type="text">Жанр</th>
            <th scope="col" data-type="text">Страна</th>
            <th scope="col" data-type="text">Кинокомпания</th>
            <th scope="col" class="text-center" data-type="integer">Год релиза</th>
            <th scope="col" class="col-md-3" data-type="text">Участники</th>
            <th scope="col" class="col-md-2"> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a class="film-link" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
            </td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td th:text="${film.getCountry()}"></td>
            <td th:text="${film.getFilmCompany()}"></td>
            <td th:text="${film.getPremierYear()}" class="text-center"></td>
            <td>
                <ul>
                    <a th:each="director : ${film.getDirectors()}" th:href="'/directors/' + ${director.getId()}" th:utext="${director.getDirectorFio() + ' (' + director.getTitle + ')<br/>'}"></a>
                </ul>
            </td>

            <td class="text-center">
                <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('DIRECTOR'))">
                    <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>

                    <a th:if="${!film.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}"
                       onclick="return confirm('Вы действительно хотите удалить фильм?')">Удалить</a>

                    <a th:if="${film.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/films/restore/' + ${film.getId()}">Восстановить</a>

                </div>
                <a sec:authorize="hasRole('USER')" class="btn btn-sm btn-outline-success"
                   th:href="'/rent/film/' + ${film.id}">Арендовать фильм</a>
            </td>
        </tr>
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const getSort = ({ target }) => {
                const order = (target.dataset.order = -(target.dataset.order || -1));
                const index = [...target.parentNode.cells].indexOf(target);
                const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
                const comparator = (index, order) => (a, b) => order * collator.compare(
                    a.children[index].innerHTML,
                    b.children[index].innerHTML
                );

                for(const tBody of target.closest('table').tBodies)
                    tBody.append(...[...tBody.rows].sort(comparator(index, order)));

                for(const cell of target.parentNode.cells)
                    cell.classList.toggle('sorted', cell === target);
            };

            document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));

        });
    </script>
</div>

</body>
</html>