<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр книги</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 class="mb-4" th:text="'Информация о фильме: ' + ${film.getTitle()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="title" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getTitle()}" type="text" readonly class="form-control-plaintext" id="title">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getGenre().getGenreTextDisplay()}" class="form-control-plaintext" id="genre">
                </div>
            </div>

            <div class="mb-2 row">
                <label for="year" class="col-sm-2 col-form-label">Год премьеры:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getPremierYear()}" class="form-control-plaintext" id="year">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="country" class="col-sm-2 col-form-label">Страна:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getCountry()}" class="form-control-plaintext" id="country">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="company" class="col-sm-2 col-form-label">Кинокомпания:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getFilmCompany()}" class="form-control-plaintext" id="company">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="desc" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getDescription()}" class="form-control-plaintext" id="desc">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-4 mb-4" th:text="'Информация об участниках'"></h4>
            <div th:each="director : ${film.getDirectors()}">
                <div class="mb-2 row">
                    <label for="fio" class="col-sm-2 col-form-label">ФИО:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorFio()}" id="fio"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="title" class="col-sm-2 col-form-label">Профессия:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getTitle()}" class="form-control-plaintext" id="title">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="desc_director" class="col-sm-2 col-form-label">Описание:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getDescription()}" class="form-control-plaintext" id="desc_director">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr mt-0"/>
        <div class="mt-3">
            <a sec:authorize="!hasRole('ADMIN')" class="btn btn-primary"
               th:href="'/rent/film/' + ${film.id}">Арендовать фильм</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>
